:root{
    --color : #fff;
    --bg_color :  #222222;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bg_color);
    color: var(--color);
    padding: 15px 30px;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.active{
    color: slateblue;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.error{
    color: red;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}